body {
  font-family: sans-serif;
  height: 100%;
}

html {
  height: 100%;
}

body {
  font-family: sans-serif;
}

.container {
  height: 300px;
  width: 100%;
  border: 2px solid black;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.item {
  height: 20%;
  min-width: 20%;
  border: 1px solid black;
  flex-grow: 1;
  white-space: wrap;
  overflow: hidden;
}

.item:hover {
  border: 2px solid blue;
  transform: scale(1.1);
  transition: transform 0.5s;
}
